<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Weather Node.js App</title>
	<link rel="icon" href="./images/weather.png" type="image/svg+xml"/>
	<link rel="stylesheet" href="./css/styles.css">
	<script src="./js/app.js" defer></script>
</head>
<body>
	<div class="main-container">
		{{>header}}
		<p>Use this website to get your weather forecast!</p>
		<form>
			<input type="text" name="search" placeholder="enter location">
			<button type="submit">search</button>
		</form>
		<div class="weatherOutput">

		</div>
	</div>
	
	{{>footer}}
</body>
</html>